

{% extends 'base.html' %}

{% block body %}
<form method="POST">
  <input type="text" autofocus="autofocus" name="search_string">
  <input type="submit" formaction="/search" value="Search">
</form>


<p><img src="static/images/Heroes_vs._Villains.jpg" alt="Heroes and Villains" width= "1000" height= "550">
<p><a href="{{ url_for('add_character')}}"> <span class="herolink"</span>Add New Character</a></p>

  <h3>{{ legend }}</h3>

{% with messages = get_flashed_messages() %}
 {% if messages %}
 <div class="alert alert-warning alert-dismissible fade show" role="alert" id="flash">
   {% for message in messages %}
   <strong>Alert!
   </strong> {{ message }}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
   {% endfor %}
   {% endif %}
   {% endwith %}
 </div>

{% if characters %}

    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Quirk</th>
                <th>Role</th>
                <th>Occupation</th>
            </tr>
        </thead>

        <tbody>
            {% for row in characters %}
            <tr>
                <td> {{ row.first_name }}</td>
                <td> {{ row.last_name }}</td>
                <td> {{ row.quirk }}</td>
                <td> {{ row.role }}</td>
                <td> {{ row.occupation }}</td>
          <td>
        <form action="{{ url_for('character', heroId=row.heroId) }}" method="POST">
          <input type="submit" value="Details" class="btn btn-info" />
        </form>
          </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </p>
{% endif %}
{% endblock %}
